
body {
    font-family: Verdana,Arial,sans-serif;
}

#divFrameContainer {
    border: 1px black solid; 
    padding: 2px; 
    margin-bottom: 4px; 
    overflow: auto;
    white-space:nowrap;            
    height: 70%;
}
        
#lstFrames { 
    margin: 0; 
    padding: 0;  
    font-size: 100%;
    width: 100%;
    height: 100%;
}

/* Make all of the frames in the list big */
#lstFrames label { 
    margin: 2px; 
    padding: 1em; 
    font-size: 1.4em; 
    width: 50px; 
    height: 30px;
}

/* Highlight selected frames */
#lstFrames .ui-state-active {
    background: #F39814;
    color: white;
}

/* Make the buttons big! */
input.gridSqr {
    width: 10px;
    height: 10px;
}

/* This highlights toggled LEDs */
#divGrid .ui-state-active {
    background: #F39814;
}

/* Make individual grids appear inline */
div.gridBlk {
    display: inline-block;
    margin: 10px;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.desc {
    text-align: center;
    vertical-align: baseline;
    font-size: 1em;
}

input.grdFillBtn {
    font-size: 0.8em;
    width: 40px;
    height: 30px;
    
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.submenu {
    display: none;
    font-size: 80%;
}

